html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $segunda_fuente;
  font-optical-sizing: auto;
  color: $negro;
  font-size: 1.6rem;
}

p {
  color: $negro;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $negro;
}

h1,
h2,
h3 {
  font-family: $primera_fuente;
  font-weight: 300;
  text-align: center;
  margin: 2.5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

img,
picture {
  width: 100%;
  display: block;
}
