@mixin contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

@mixin grid($columnas, $espaciado ) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin seccion($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}
