@mixin contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

@mixin grid($columnas, $espaciado ) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin seccion($top, $bottom: null) {
  @if $bottom ==null {
    margin-top: $top;
    margin-bottom: $top;
  }

  @else {
    margin-top: $top;
    margin-bottom: $bottom;
  }
}

@mixin padding($top, $bottom: null) {
  @if $bottom ==null {
    padding-top: $top;
    padding-bottom: $top;
  }

  @else {
    padding-top: $top;
    padding-bottom: $bottom;
  }
}

@mixin padding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}
